{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h3>Perfil</h3>
<p>
   
   Actitud proactiva, compromiso y creatividad. Experiencia en el trato con clientes y en tareas administrativas en general. Amplio perfil en el área de diseño grafico, 3D y en ventas. Cuento con muy buen manejo del idioma Inglés. Actualmente estoy haciendo un curso de Data Analyst y otro de programación en Python. Me gustaría un trabajo en una empresa “Data-Driven” que me permita desarrollarme en dicho ámbito y poder así seguir profundizando y puliendo mis conocimientos sobre la materia.

</p>
{% endblock %}